/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
	;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	list-style-type: none;
	align-items: center;
}

nav li {
	padding: 0 25px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li a {
	text-decoration: none;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.btn {
	background-color: #FFFFFF;
	color: #1D6154;
	font-size: 19px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 10px 20px;
	margin-left: 10px;
	margin-bottom: 50px;
}

.btn:hover {
	background-color: #1D6154;
	color: #FFFFFF;
	cursor: pointer;
}

.btnclique {
	background-color: #1D6154;
	color: #FFFFFF;
}

.bouton {
	display: flex;
	justify-content: center;
}

/*Login*/

#login {
	width: 50%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
	margin-top: 150px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	margin-left: 85px;
}

#login input {
	height: 50px;
	width: 380px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	text-align: center;
	border-radius: 60px;
	width: 200px;
	margin-left: 95px;
}

#login label {
	margin: 2em 0 1em 0;
}

a {
	text-align: center;
	color: black;
	display: flex;
	justify-content: center;
}

li>img {
	width: 20px;
	height: 20px;
}

li>span {
	font-weight: 600;
}

#changements {
	background-color: #FFFFFF;
	border-radius: 60px;
	width: 220px;
	height: 38px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Work Sans";
	border-style: none;
	margin-left: 20px;
}

body>p {
	background-color: black;
	height: 50px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
}

#modifierdesigner {
	padding-bottom: 20px;
	justify-content: space-between;
	width: 110px;
}

#modifierimage {
	padding-left: 60px;
	width: 110px;
	padding-top: 15px;
	justify-content: space-between;
}

h2>i {
	color: black;
	font-size: 14px;
	padding-left: 30px;
}

#modifierprojets {
	color: black;
	font-family: "Work Sans";
	font-weight: 400;
	padding-bottom: 100px;
	font-size: 14px;
	padding-left: 30px;
}

#modifierprojets>a {
	padding-left: 10px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 630px;
	padding: 20px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.js-modal {
	text-decoration: none;
	justify-content: space-between;
	width: 85px;
}

#buttonAdd {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px;
	margin-top: 40px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	margin-left: 25%;
	margin-right: 25%;
}

#buttonDelete {
	font-size: 14px;
	font-weight: 400;
	color: red;
	margin-top: 20px;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 60px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	margin-left: 25%;
	margin-right: 25%;
}

#titlemodal {
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: black;
	margin-top: 15px;
}

.js-modal-close {
	border-style: none;
	background-color: #FFFFFF;
	font-size: 15px;
	align-self: flex-end;
	margin-right: 30px;
}

#modalcontainer {
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 50px;
	flex-wrap: wrap;
	border-bottom: 1px solid#B3B3B3;
	padding-bottom: 50px;
	justify-content: space-between;
}

.modalfigure {
	padding-bottom: 10px;
}

.modalimage {
	width: 80px;
	height: 110px;
}

.iconearrow {
	text-align: center;
	padding: 2px 1px 2px 1px;
	color: white;
	background-color: black;
	width: 17px;
	font-size: 12px;
	border-radius: 2px;
	position: relative;
	top: 35px;
	left: 35px;
}

.iconetrash {
	background-color: black;
	text-align: center;
	font-size: 12px;
	padding: 2px 1px 2px 1px;
	color: white;
	width: 17px;
	border-radius: 2px;
	position: relative;
	top: 19px;
	left: 55px;
}